section#projects {
  .project-title {
    font-size: 5vw;
    text-align: center;
    font-family: 'MuseoModerno', system-ui;
    margin-top: 100px;
  }

  .project-description {
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
  }

  .projects-list {
    margin-top: 50px;

    .projects-listItem {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
      gap: 20px;

      .image-wrapper {
        background-image: linear-gradient(var(--angle), var(--teal), var(--hot-pink));
        animation: 20s rotate linear infinite;
        padding: 40px;
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        &:hover {
          img {
            background: linear-gradient(white, white) padding-box,
            linear-gradient(var(--angle),#11ffc3, #fd00f9) border-box;
          }
        }
        img {
          height: 400px;
          border-radius: 10px;
          box-shadow: 0 20px 40px #010824;
          transition: all 1s linear;
          animation: 20s rotate linear infinite;
          background: linear-gradient(white, white) padding-box,
            linear-gradient(#000, #000) border-box;
          border: 1px solid transparent;
        }
      }
    }
    .content {
      h3.projects-listItem-title {
        font-size: 3em;
        margin: 0;
      }

      .projects-listItem-description {
        text-align: left;
        width: 100%;
      }

      .mission {
        display: grid;
        grid-template-columns: 70px 1fr;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        div:nth-child(1) svg {
          background-color: #eee3;
          padding: 20px;
          font-size: 20px;
          border-radius: 15px;
        }
      }
    }
  }

  .projects-listItem:nth-child(2n) {
    .image-wrapper {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
    }
  }
}
