header {
  position: fixed;
  width: 1300px;
  max-width: 100%;
  height: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
  backdrop-filter: blur(10px);
  img {
    width: 50px;
  }
  .logo {
    font-size: 40px;
    font-weight: bold;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: var(--80-linear-rotate);
    animation: 20s rotate linear infinite;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 16px;
    button {
      position: relative;
      font-family: "MuseoModerno";
      font-size: 18px;
      font-weight: 200;
      color: #eee;
      cursor: pointer;
      border-radius: 8px;
      padding: 10px 16px;
      background-color: transparent;
      border: 1px solid transparent;
      transition: all .25s linear;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        padding: 1px; /* Width of the border */
        background: transparent;
        mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
        animation: 10s rotate linear infinite;
      }
      &:hover {
        color: #11ffc3;
        cursor: pointer;

      }
      &:hover::before {
        background:  #11ffc3;
      }
      &.btn--active {
        color: #11ffc3;
        &::before { 
          background: linear-gradient(var(--angle), #11ffc3, #fd00f9);
        }
      }
    }
  }
  .icon-bar {
    width: 30px;
    display: none;
    background: transparent;
    color: white;
    border:0;
    font-size: 36px;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  header {
    nav {
      width: 80%;
      height: 100vh;
      position: fixed;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      inset: 0 auto 0 0;
      background-color: #eee;
      color: #0F1225;
      padding: 50px;
      box-sizing: border-box;
      font-weight: bold;
      left: -100%;
      transition: .5s;
      button {
        color: #0F1225;
        border: none;
        background: transparent;
        font-size: 24px;
        cursor: pointer;
        &:hover {
          color: rgba(253, 0, 249);
          background: transparent;
          border: none;
          transition: all .25s ease-in;
        }
        &.btn--active {
          color: #e945e3;
          text-shadow: none;
          border: none;
          background: transparent;
          transition: all .5s ease-in;
        }
      }

      &.nav--expanded {
        left: 0;
      }
    }

    .icon-bar {
      display: block;
    }
  }
}